body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:608px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:608px;
}
#u1 {
  position:absolute;
  left:2px;
  top:296px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u3 {
  position:absolute;
  left:2px;
  top:532px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
