body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u1 {
  position:absolute;
  left:2px;
  top:532px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1080px;
}
#u3 {
  position:absolute;
  left:2px;
  top:532px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:910px;
  width:720px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:280px;
  top:406px;
  width:128px;
  height:64px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:64px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
